version: '3'
services:
  backend:
    build:
      context: ./backend
    container_name: nodejs-backend
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: flask-frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

